<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitcreativestudio.berhitung">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuTambahActivity"
            android:label="@string/s_tambah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MenuKurangActivity"
            android:label="@string/s_kurang">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MenuKaliActivity"
            android:label="@string/s_kali">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MenuBagiActivity"
            android:label="@string/s_bagi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MenuOperasiHitungActivity"
            android:label="@string/s_hitung">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".TambahActivity"
            android:label="@string/s_tambah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuTambahActivity" />
        </activity>
        <activity android:name=".KurangActivity"
            android:label="@string/s_kurang">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuKurangActivity" />
        </activity>
        <activity android:name=".KaliActivity"
            android:label="@string/s_kali">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuKaliActivity" />
        </activity>
        <activity android:name=".BagiActivity"
            android:label="@string/s_bagi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuBagiActivity" />
        </activity>
        <activity android:name=".OperasiHitungActivity"
            android:label="@string/s_hitung">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuOperasiHitungActivity" />
        </activity>
    </application>

</manifest>
